/* --- Налаштування шрифтів та тексту --- */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #798696;
    overflow-x: hidden;
}

/* --- Налаштування заголовків--- */
h1, h2, h3, h4, h5, h6 {
    margin-top: 12px;
    margin-bottom: 15px;
    font-weight: 600;
    color: #374050;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;

}

h4 {
    font-size: 18px;
}


/* --- /Налаштування заголовків--- */

/* --- Налаштування тексту посилань--- */
a {
    font-family: 'Lato', sans-serif;
    color: #374050;
    font-weight: 700;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #374050;
    opacity: 0.9;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

/* --- Налаштування тексту посилань--- */
.white-text {
    color: #FFF;
}
.main-text-2{
    font: 1000 6rem 'Montserrat', sans-serif;
}
.main-text{
    font: 700 10rem 'Montserrat', sans-serif;
}
.home-mini-title{
    font: 700 3rem 'Montserrat', sans-serif;
}
/* --- /Налаштування шрифтів та тексту --- */

/* --- Для зручного розміщення даних, та чіткого відокремлення їх між собою по секціям ми розмістили дані всередину певних блоків.
Нижче ви можете побачити оформлення цього блоку даних та елементів, що наявні в ньому --- */

.section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-hr {
    margin-top: 80px;
    margin-bottom: 80px;
    border-color: #d2c9c9;
}

.section-header {
    margin-bottom: 40px;
}

.box-details{
    margin-top: 100px;
}
.box-details-2{
    margin-bottom: 100px;
}
/* --- /Офомлення секцій--- */

/* --- Налаштування  фонових зоображень, а також додання певних візуальних ефектів до них --- */
.main-area section {
    margin-top: 20px;
}

.bg-image {
    position: absolute;
    scale: 112%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
}

.bg-image.bg-parallax {
    background-attachment: fixed;
    margin-top: -30px;
}

.bg-image.overlay:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
    background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
    opacity: 0.7;
}

/* --- /Налаштування  фонових зоображень --- */

/* --- Стилі для кнопок, що знаходяться на сайті, + додавання анімацій при наведенні на кнопки--- */
.main-button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: #d85c98;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #FFF;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-button:hover, .main-button:focus {
    background-color: #fff;
    border: 2px solid #d85c98;
    color: #d85c98;
}

.main-button.icon-button:hover, .main-button.icon-button:focus {
    padding-right: 45px;
}

.main-button.icon-button:after {
    content: "\f178";
    font-family: FontAwesome, serif;
    position: absolute;
    width: 30px;
    right: 15px;
    text-align: center;
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-button.icon-button:hover:after, .main-button.icon-button:focus:after {
    opacity: 1;
}

/* --- /Стилі для кнопок --- */

/*---Кнопочка будинку--- */

.navbar-home {
    padding: 0;
}

.navbar-home {
    margin: 10px;
    display: inline-block;
}

.home_button {
    padding: 15px;
}

.navbar-home .home_button > img {
    max-height: 30px;
}

@media only screen and (max-width: 767px) {
    .navbar-home {
        margin-left: 15px;
    }
}

/*---/Кнопочка будинку--- */

/*---Кнопочка профілю--- */

.profile-home {
    padding: 0;
}

.profile_button {
    display: inline-block;
    padding: 13px;
    transform: scale(1.2);
}

.profile-home .profile_button > img {
    max-height: 10px;
}

@media only screen and (max-width: 767px) {
    .profile-home {
        margin-left: 15px;
    }
}

/*---/Кнопочка профілю--- */

/*--- Стилі інформаційної сторіночки нашого сайту --- */
/* -- Стилі 3-х ознак на головній сторіночці -- */
.feature {
    position: relative;
}

.feature + .feature {
    margin-top: 40px;
}

.feature .feature-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #EBEBEB;
    color: #d85c98;
}

.feature-content {
    padding-left: 100px;
}

/* -- About Img -- */
.about-img {
    margin-top: 1px;
}

.about-img > img {
    width: 100%;
}

.section-header-about {
    margin-bottom: 40px;
    text-align: center;;
}

/*--- /Стилі інформаційної сторіночки нашого сайту --- */

/*---Оформлення навігації--- */
#header {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid rgba(235, 235, 235, 0.25);
    background-color: #FFF;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

#header.transparent-nav {
    position: absolute;
    background-color: transparent;
}

#header.transparent-nav .main-menu li a {
    color: #FFF;
}

.main-menu li a {
    text-transform: uppercase;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-menu li a:hover, .main-menu li a:focus {
    background-color: rgba(238,196,200,0.43);
}

.main-menu li a:after {
    content: "";
    display: block;
    height: 2px;
    background-color: rgba(216, 92, 152, 0);
    width: 100%;
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.main-menu li a:hover:after, .main-menu li a:focus:after {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}


/* Пошукове поле */
.searchbar {
    position: relative;
    display: flex;
    align-items: center;
}

.searchbar input[type="text"] {
    padding-right: 35px; /* Задаємо простір для кнопки справа */
}

.bg-contact {
    margin-top: -30px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}

.search-button::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-image: url(../img/search.png);
    margin-top: 32px;
    margin-right: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scale: 1.8;
}


/* Задаємо відступ зображення в межах кнопки */


/*---/Оформлення навігації--- */

/*---Оформлення зони без фонового зоображення---*/

.main-area {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

#home.main-area {
    height: calc(100vh - 40px);
    padding-top: 0;
    padding-bottom: 0;
}

.home-wrapper {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
}

/*---/Оформлення зони без фонового зоображення---*/

/* -- Стилі для різних елементів посилань -- */
/* -- Стилі для елементів списку (крапочок) -- */
.main-area-tree li {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

/* -- Стилі для посилань всередині елементів списку -- */
.main-area-tree li > a {
    color: rgba(255, 255, 255, 0.8);
}

/* -- Стилі для позначки ("/") між елементами списку -- */
.main-area-tree li + li:before {
    content: "/";
    display: inline-block;
    margin: 0 5px;
    color: rgba(235, 235, 235, 0.25);
}

/* -- /Стилі для різних елементів посилань -- */

/* -- Стиль нижньої менюшки -- */
.bottom-footer {
    margin-top: 30px;
    margin-bottom: 30px;
    border-top-color: #c2b3b3
}

/* -- Логотип нашого сайту -- */
.footer-logo .logo {
    transform: scale(2);
    margin: 30px;
    display: inline-block;
}

.footer-logo .logo > img {
    max-height: 30px;
}

/* -- Footer Nav -- */
.footer-nav {
    margin-top: 34px;
    text-align: right;
    padding: 2px 0;
}

.footer-nav li {
    display: inline-block;
    margin-left: 15px
}

.footer-nav li a {
    display: block;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.footer-nav li a:hover, .footer-nav li a:focus {
    color: #d85c98;
}

.footer-nav li a:after {
    content: "";
    display: block;
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.footer-nav li a:hover:after, .footer-nav li a:focus:after {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}

/* --  Оформлення форм  -- */
input[type="text"], input[type="email"], input[type="password"], input[type="number"],
input[type="date"], input[type="url"], input[type="tel"], .regions, textarea {
    height: 40px;
    width: 100%;
    border: 1px solid #d65b97;
    border-radius: 4px;
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    padding: 10px 15px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus,
input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus,
input[type="tel"]:focus, input[type="regions"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: #d85c98;
}

/* --  /Оформлення форм  -- */
/* --  Кнопка на сторінці реєстрації  -- */
.reg_button {
    margin: 1rem;
    display: inline-block;
}

/* --  /Кнопка на сторінці реєстрації  -- */

/* --  Сторінка реєстрації -- */
.signup {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(../img/page-background.jpg);
    background-size: cover;
    position: relative;

}

.signup-test {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: rgba(255, 208, 241, 0.64);
    background-size: cover;
    position: relative;
}

.signup::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/page-background.jpg);
    background-size: cover;
    filter: blur(3px) brightness(0.7);
    z-index: -1;
}

.reg_form_title {
    text-align: center;
    font: 500 2.7rem 'Montserrat', sans-serif;
}

.reg_form_text {
    margin-bottom: 5px;
    text-align: center;
    font: 500 1rem 'Montserrat', sans-serif;
}

.box {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;;
    background: #ffffff;
    font: 500 1.2rem 'Montserrat', sans-serif;
}

.box-all-vac {
    width: 1000px;
    max-width: 1000px;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 10px;;
    background: #ffffff;
    font: 500 1.2rem 'Montserrat', sans-serif;
    overflow: hidden;
    margin-top: 250px;
}

.reg__button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: #d85c98;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #FFF;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;

}

.log__button {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: #d85c98;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #FFF;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    margin: 20px 20px 20px 20px;
}

.reg2_button {
    position: static;
    /*top: 60%;*/
    /*left: 50%;*/
    transform: translate(0.5rem, 0.5rem);
    margin: 0;
    padding: 15px 30px;
    background-color: #d85c98;
    border: 2px solid transparent;
    border-radius: 40px;
    color: #FFF;
    transition: 0.1s all;
}

.reg_form_input {
    font: 500 1.2rem 'Montserrat', sans-serif;
    margin-top: 10px;
}

.reg_accept_box {
    position: absolute;
    top: 70%;
    left: 50%;
}

/* --  Форма коментарів  -- */
.contact-form:after {
    content: "";
    display: block;
    clear: both;

}

.contact-form-container {
    background: #fdfdfd;
}

.contact-form textarea.input {
    height: 94px;
}

/* --  /Форма коментарів  -- */

/* -- Контактна інфа команди -- */
.contact-details li {
    margin-bottom: 20px;
}

.contact-details li i {
    color: #d85c98;
    margin-right: 15px;
    border: 1px solid #d65b97;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

}

/* --/Контактна інфа команди -- */

.empty_place {
    opacity: 0;
}

.vac_form_title {
    text-align: center;
    font: 500 1.7rem 'Montserrat', sans-serif;
}

.regions {
    height: 40px;
    width: 100%;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: 0.2s border-color;
    transition: 0.2s border-color;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.roow {
    flex-basis: 50%;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin: 5px;
}

.tags {
    display: flex;
    margin-left: 25px;
    margin-bottom: 25px;
}

.vac_form_text {
    text-align: center;
    font: 500 1.3rem 'Montserrat', sans-serif;
    margin-left: 25px;
}


.log_input {
    margin-top: 20px;
}

.vacantion_button {
    margin: 20px 20px 20px 20px;
}

.bg-white {
    height: 600px;
}

/*-- Search --*/
.widget.search-widget {
    position: relative

}

.widget.search-widget .input {
    padding-right: 60px;
}

.widget.search-widget button {

    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;

}

.widget.search-widget .input:focus + button {
    color: #FF6700;

}

.search-icon {
    color: white;
}

.top-marge {
    margin-top: 10px;
}

.row-bottom {
    height: 22px;
}

.contact-icons-border-color {
    border-color: #d65b97;
}

.white-line {
    margin-top: 28px;
    padding-top: 2px;
    border-top: 1px solid #5b3e3e;
    border-top-color: #c2b3b3
}

/* Sidebar */

/* Sidebar та стилізація чекбоксів */

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 150px;
    width: 1500px;
    height: 450px;
    background: rgba(216, 92, 152, 0.66);
}

.slidercontainer,
.checkboxes,
.checkbox-column {
    margin: 12px 0 0 0;
    padding-bottom: 50px;
}

.filtername {
    text-align: center;
    font-style: normal;
    line-height: 27px;
    color: #ede5ee;
    margin-bottom: 8px;
    font: 700 2rem 'Montserrat', sans-serif;
    margin-top: -40px;
}

.star-btn {
    display: flex;
    font-size: 50px;
    color: #d6c65b;
    cursor: pointer;
    user-select: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.name-colum {
    font-style: normal;
    line-height: 27px;
    color: #ede5ee;
    margin-bottom: 8px;
    font: 700 2rem 'Montserrat', sans-serif;

}


.login {
    color: red;
}

.logIn-button {
    padding: 3px;
    color: #d65b97;
}

.filter {
    padding-top: 95px;
    font: 200 0.4rem 'Montserrat', sans-serif;
}

.header-filter {
    margin-top: -30px;
    margin-bottom: 20px;
    text-align: center;
    font: 500 3rem 'Montserrat', sans-serif;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -40px;
}

.checkbox-column {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.filternamebox {
    width: 100%;
    text-align: center;
    font-style: normal;
    line-height: 27px;
    color: #ede5ee;
    margin-bottom: 8px;
    font: 700 2rem 'Montserrat', sans-serif;
    margin-top: 40px;
}

.checkbox-group:nth-child(1) .checkbox-column:nth-child(5) {
    margin-bottom: 50px;
}

.checkbox-group:nth-child(2) .checkbox-column:nth-child(4) {
    margin-bottom: 50px;
}


/* Стилізація повзунка та виводу значення */
.slidercontainer {
    width: 90%;
    margin-left: 18px;
    position: relative;
}

.slider {
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: linear-gradient(to right, #dcd6d6, #dcd6d6) no-repeat center/100% 5px, #dcd6d6;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: hsl(194, 90%, 53%);
    cursor: pointer;
    border-radius: 50%;
}

#sliderValue {
    margin-top: -140px;
    position: absolute;
    top: calc(100% + 10px); /* Змінено значення top для зсуву вниз */
    left: 50%; /* Змінено значення left для вирівнювання по центру */
    transform: translateX(-50%); /* Змінено значення transform для центрування */
    font-size: 20px;
    color: black;
}

/*Стилізація таблиці*/

.table-vacancies {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size: 1.56em;
    min-height: 100px;
    width: 1500px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 400px;
    table-layout: fixed;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.table-vacancies thead tr {
    background-color: #1abff3;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.table-vacancies thead th {
    width: 80px; /* Задайте бажану фіксовану ширину для кожного стовпця */
    text-align: center;
}

.table-vacancies tbody tr {
    height: 70px; /* Задайте бажану фіксовану висоту для кожного рядка */
}

.table-vacancies th,
.table-vacancies td {
    padding: 12px 15px;
}

.table-vacancies tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-vacancies tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-vacancies tbody tr:last-of-type {
    border-bottom: 2px solid #1abff3;
}

.table-vacancies tbody tr.active-row {
    font-weight: bold;
    color: #1abff3;
}


.table-name {
    text-align: center;
    margin-top: -150px;
}

aside {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.your-fav-table {

}

.your-fav-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.your-fav-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.your-fav-table th,
.your-fav-table td {
    padding: 12px 15px;
}

.your-fav-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.your-fav-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.your-fav-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.your-fav-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
